#title {
    margin-top: 12px;
    background-color: #fff;
    color: #111111;

}
#menu {
    border-top: solid 6px #001f3f;
    background-color: #001f3f;
    color: #fff;
    height: 400px;
}

#menu a {
    background-color: #001f3f;
    color: #fff;
    text-decoration: none;
    display: block;
}
#menu a:hover {
    background-color: #001f3f;
    color: #ddd;
    text-decoration:underline;
    display: block;
}

#content {
    background-color: #fff;
    border-top: solid 6px #001f3f;

}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: #111111;
    color: #fff;
}

table, th, td {
    border: 1px solid black;
}
